{% load socialaccount %}
<html>
<head>
    <title>Google Registration</title>
</head>
<body>

<div class="navbar-collapse collapse">
    <div class="navbar-form navbar-right">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} !</p>
            <p>Welcome, {{ user.email }} !</p>
            <a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a>
        {% else %}
            <a id="google_login" href="/accounts/google/login" class="btn btn-success">
                Sign in with Google
            </a>
            <br>

        {% endif %}
    </div>
</div>

</body>
</html>